Flows/flows(17-11-20).json
[{"id":"155156f2.50ad99","type":"tab","label":"Main flow","disabled":false,"info":""},{"id":"844f6409.9a0a08","type":"mqtt out","z":"155156f2.50ad99","name":"","topic":"test","qos":"","retain":"","broker":"c50b087c.61b8d8","x":490,"y":620,"wires":[]},{"id":"adc4f75b.8286c8","type":"inject","z":"155156f2.50ad99","name":"random data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":620,"wires":[["bd297f29.88c7a"]]},{"id":"bd297f29.88c7a","type":"function","z":"155156f2.50ad99","name":"random data","func":"msg.payload = {};\nvar val = parseInt(Math.random() * 10);\n\nif((val % 3) === 0){\n    msg.payload.lat  = 13.8043;\n    msg.payload.lon  = 100.5344;\n}\nelse if ((val % 3) === 1){\n    msg.payload.lat  = 13.7990;\n    msg.payload.lon  = 100.5227;\n}\nelse if ((val % 3) === 2){\n    msg.payload.lat  = 13.8099;\n    msg.payload.lon  = 100.5223;\n}\nmsg.payload.V1 = parseInt(Math.random() * 40);\nmsg.payload.V2 = parseInt(Math.random() * 10);\nmsg.payload.V3 = parseInt(Math.random() * 20);\nmsg.payload.V4 = parseInt(Math.random() * 20);\nmsg.payload.V5 = parseInt(Math.random() * 10);\nmsg.payload.V6 = parseInt(Math.random() * 20);\nmsg.payload.V7 = parseInt(Math.random() * 10);\nmsg.payload.V8 = parseInt(Math.random() * 10);\nmsg.payload.V9 = parseInt(Math.random() * 10);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":620,"wires":[["844f6409.9a0a08"]]},{"id":"c9150ea8.1663d","type":"json","z":"155156f2.50ad99","name":"","property":"payload","action":"","pretty":false,"x":250,"y":220,"wires":[["937e5419.60dd78"]]},{"id":"61e0dbc1.e41b74","type":"mqtt in","z":"155156f2.50ad99","name":"","topic":"data","qos":"2","datatype":"auto","broker":"c50b087c.61b8d8","x":70,"y":220,"wires":[["c9150ea8.1663d","b6800640.a97628","c968948.a3b8b68"]]},{"id":"8a375a9c.0f5138","type":"ui_text","z":"155156f2.50ad99","group":"98980964.6b0638","order":2,"width":0,"height":0,"name":"","label":"Data In","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":140,"wires":[]},{"id":"4711e973.79b458","type":"worldmap in","z":"155156f2.50ad99","name":"","path":"/worldmap","events":"all","x":780,"y":580,"wires":[["735b9537.2b6dfc"]]},{"id":"5cbbc251.b3b2dc","type":"change","z":"155156f2.50ad99","name":"delete last position","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.name","pt":"msg","to":"oldData.time","tot":"global"},{"t":"set","p":"payload.deleted","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":740,"wires":[["8413b6ba.098088"]]},{"id":"291d567c.8abc9a","type":"mqtt out","z":"155156f2.50ad99","name":"","topic":"check","qos":"2","retain":"","broker":"c50b087c.61b8d8","x":470,"y":440,"wires":[]},{"id":"735b9537.2b6dfc","type":"switch","z":"155156f2.50ad99","name":"is new client?","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":580,"wires":[["97de24df.462538","2732e089.194ae","a30c76c7.93c1c8","913f5371.09f1b"]]},{"id":"97de24df.462538","type":"file in","z":"155156f2.50ad99","name":"homesetting","filename":"/home/rednode/data/homeSetting.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1170,"y":660,"wires":[["69627f8e.a0392"]]},{"id":"69627f8e.a0392","type":"json","z":"155156f2.50ad99","name":"","property":"payload","action":"","pretty":false,"x":1350,"y":660,"wires":[["8413b6ba.098088"]]},{"id":"14d50689.0a4c89","type":"function","z":"155156f2.50ad99","name":"location1","func":"msg.payload = {};\nmsg.payload.name = \"location1\";\nmsg.payload.lat  = 13.8043;\nmsg.payload.lon  = 100.5344;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":700,"wires":[["844f6409.9a0a08"]]},{"id":"67068c35.fc9144","type":"function","z":"155156f2.50ad99","name":"location2","func":"msg.payload = {};\nmsg.payload.name = \"location2\";\nmsg.payload.lat  = 13.7990;\nmsg.payload.lon  = 100.5227;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":780,"wires":[["844f6409.9a0a08"]]},{"id":"29efeab5.4ec406","type":"function","z":"155156f2.50ad99","name":"location3","func":"msg.payload = {};\nmsg.payload.name = \"location3\";\nmsg.payload.lat  = 13.8099;\nmsg.payload.lon  = 100.5223;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":860,"wires":[["844f6409.9a0a08"]]},{"id":"e835114d.d06c5","type":"inject","z":"155156f2.50ad99","name":"location1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":700,"wires":[["14d50689.0a4c89"]]},{"id":"37eb3bed.2b5644","type":"inject","z":"155156f2.50ad99","name":"location2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":780,"wires":[["67068c35.fc9144"]]},{"id":"98a5c28f.5e69d","type":"inject","z":"155156f2.50ad99","name":"location3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":860,"wires":[["29efeab5.4ec406"]]},{"id":"c968948.a3b8b68","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":120,"wires":[]},{"id":"a12f046a.96dc68","type":"function","z":"155156f2.50ad99","name":"calc distance form home","func":"var home_data = global.get('home');\nvar lat1 = home_data.lat;\nvar lon1 = home_data.lon;\nvar lat2 = msg.payload.lat;\nvar lon2 = msg.payload.lon;\n\nlat1 = lat1 * Math.PI/180; // lat, lon in radians\nlon1 = lon1 * Math.PI/180;\nlat2 = lat2 * Math.PI/180;\nlon2 = lon2 * Math.PI/180;\n\nconst R = 6371000;\nconst a = Math.cos(lat1)*Math.cos(lat2)*Math.cos(lon1)*Math.cos(lon2);\nconst b = Math.cos(lat1)*Math.sin(lon1)*Math.cos(lat2)*Math.sin(lon2);\nconst c = Math.sin(lat1)*Math.sin(lat2);\nconst d = Math.acos(a+b+c) * R;\n\nmsg.payload = Math.round(d*100)/100;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":1020,"wires":[["2c806f03.46e94","7056c126.a04f6"]]},{"id":"2c806f03.46e94","type":"ui_text","z":"155156f2.50ad99","group":"7ca97527.92b29c","order":4,"width":0,"height":0,"name":"distance","label":"Distance [m]  :  ","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":1020,"wires":[]},{"id":"89013c09.d3223","type":"function","z":"155156f2.50ad99","name":"set e-mail","func":"msg = {\n    bcc: [\"GreenBouy.IoT@gmail.com\" , \"trch.mchn.19@gmail.com\"], // append list of e-mail here\n    topic : \"Warning!!!\",\n    payload : \"ทุ่นของคุณกำลังออกนอกอาณาเขตการปกครอง รัศมี \"\n            + global.get('home').radius + \" เมตร\\n\"\n            + \"ตำแหน่งล่าสุดคือ\"\n            + \"  lat : \" + global.get('dataIn').lat\n            + \"  lon : \" + global.get('dataIn').lon + \"\\n\"\n            + \"ห่างจากจุดติดตั้งเป็นระยะทาง \"\n            + msg.payload + \" เมตร\\n\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":1060,"wires":[["1f637976.a58db7","fc3d9ad4.c2eb98"]]},{"id":"1f637976.a58db7","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","x":1620,"y":1020,"wires":[]},{"id":"fc3d9ad4.c2eb98","type":"e-mail","z":"155156f2.50ad99","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1610,"y":1060,"wires":[]},{"id":"7056c126.a04f6","type":"switch","z":"155156f2.50ad99","name":"if out of border","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"home.radius","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1180,"y":1120,"wires":[["89013c09.d3223","df185246.6af06"],["1f21c8a4.2c94f7"]]},{"id":"b6800640.a97628","type":"switch","z":"155156f2.50ad99","name":"acknowledge","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":380,"wires":[["97ece023.9777d"]]},{"id":"97ece023.9777d","type":"delay","z":"155156f2.50ad99","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":440,"wires":[["291d567c.8abc9a"]]},{"id":"5bcad9e7.210ff8","type":"ui_toast","z":"155156f2.50ad99","position":"top right","displayTime":"86400","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"warning","name":"warning border","x":1620,"y":1160,"wires":[]},{"id":"4029aa0a.89c5d4","type":"change","z":"155156f2.50ad99","name":"set data","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"oldData","pt":"global","to":"dataIn","tot":"global"},{"t":"set","p":"dataIn","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":220,"wires":[["7b876409.83fa8c"]]},{"id":"7b876409.83fa8c","type":"function","z":"155156f2.50ad99","name":"set global.dataIn.time","func":"var D = new Date();\nvar offset = D.getTime() + 25200000;\nD.setTime(offset);\nvar date = D.toLocaleString(\"en-IE\");\ndate = date.split(\", \");\nvar time = date[1];\nglobal.set('dataIn.date', date[0]);\nglobal.set('dataIn.time', time);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":220,"wires":[["bda3ee0c.d2383"]]},{"id":"38b609e7.9a53b6","type":"link out","z":"155156f2.50ad99","name":"dataIn","links":["10bc6318.9279ad","65d71365.47378c","6b5839cd.a1bda8","9202bcfc.b1893","d2eced79.0f28b","d38838be.4bfc38","f0358c5c.1a178","f49c8ed0.05f58","f6b69d2c.22a26","fc9f6c38.3146f","641a37ab.327098","b2d8dac3.c313e8","cabe662f.f12bf8","b3193ddf.3e02b","8dda0135.d8daa","75bdbbb9.504a44","57c58ecf.cc214","7b21cd48.e85604","60e0a624.fa1de8","f70b93d9.9edf","4ff8b27.24ea94c","7afd5112.9762d","68c80f2.163f2f","33241c9f.78c264","f7f3e76.9ff2418","d235e1dd.0b845","a5b466f2.57fb28","80db0bef.349348","36625c26.e3e4f4","fb87a377.195dc","4217fc38.73f344","c8cdea58.258958","e1104f67.41454","6298ba88.838804","4ce28eda.c7055","efd52427.975098","d9756148.ea506","f68dcd3c.11902","2c9d3df4.284272","29d49ed1.f982f2","2270e3f1.3f9acc","6a104bdf.ba84e4","cc2330b0.e89cf"],"x":795,"y":280,"wires":[]},{"id":"a4706d26.bddfe","type":"change","z":"155156f2.50ad99","name":"new position","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.name","pt":"msg","to":"dataIn.time","tot":"global"},{"t":"set","p":"payload.lat","pt":"msg","to":"dataIn.lat","tot":"global"},{"t":"set","p":"payload.lon","pt":"msg","to":"dataIn.lon","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":820,"wires":[["8413b6ba.098088"]]},{"id":"8dda0135.d8daa","type":"link in","z":"155156f2.50ad99","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":935,"y":740,"wires":[["8c370efc.f3b8a"]]},{"id":"efbd6118.59d99","type":"delay","z":"155156f2.50ad99","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":820,"wires":[["a4706d26.bddfe"]]},{"id":"75bdbbb9.504a44","type":"link in","z":"155156f2.50ad99","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":715,"y":940,"wires":[["a9585e11.ead17"]]},{"id":"df185246.6af06","type":"change","z":"155156f2.50ad99","name":"warnnig msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"ทุุ่นออกนอกอาณาเขต","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":1140,"wires":[["5bcad9e7.210ff8"]]},{"id":"1b261dc2.ca3e32","type":"file","z":"155156f2.50ad99","name":"save data","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1580,"y":240,"wires":[[]]},{"id":"e1c31bc4.6b4f18","type":"function","z":"155156f2.50ad99","name":"save data","func":"var D = new Date();\nvar offset = D.getTime() + 25200000;\nD.setTime(offset);\nvar date = D.toLocaleString(\"en-IE\");\ndate = date.split(\", \");\n\nmsg.filename = \"/home/rednode/data/\";\nmsg.filename += date[0].replace(\"/\", \"-\").replace(\"/\", \"-\");\nmsg.filename += \".csv\";\nvar time = date[1];\n\nmsg.payload = msg.payload.date + \",\"\n            + msg.payload.time + \",\"\n            + msg.payload.lat  + ','\n            + msg.payload.lon  + ','\n            + msg.payload.V1 + ','\n            + msg.payload.V2 + ','\n            + msg.payload.V3 + ','\n            + msg.payload.V4 + ','\n            + msg.payload.V5 + ','\n            + msg.payload.V6 + ','\n            + msg.payload.V7 + ','\n            + msg.payload.V8 + ','\n            + msg.payload.V9;\n            \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":240,"wires":[["1b261dc2.ca3e32"]]},{"id":"13e277cc.341218","type":"file","z":"155156f2.50ad99","name":"lastData","filename":"/home/rednode/data/lastData.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1400,"y":300,"wires":[[]]},{"id":"70ccaf38.bd449","type":"change","z":"155156f2.50ad99","name":"dataIn","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":240,"wires":[["e1c31bc4.6b4f18","13e277cc.341218"]]},{"id":"57c58ecf.cc214","type":"link in","z":"155156f2.50ad99","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":1105,"y":240,"wires":[["70ccaf38.bd449"]]},{"id":"a30c76c7.93c1c8","type":"delay","z":"155156f2.50ad99","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":580,"wires":[["a713c387.52523"]]},{"id":"a713c387.52523","type":"change","z":"155156f2.50ad99","name":"set position","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.lat","pt":"msg","to":"position.lat","tot":"global"},{"t":"set","p":"payload.lon","pt":"msg","to":"position.lon","tot":"global"},{"t":"set","p":"payload.name","pt":"msg","to":"position.time","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":580,"wires":[["8413b6ba.098088"]]},{"id":"b0b7abff.12d8d8","type":"file in","z":"155156f2.50ad99","name":"lastData","filename":"/home/rednode/data/lastData.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":940,"wires":[["8131df90.2c868"]]},{"id":"f6508b08.8f0578","type":"inject","z":"155156f2.50ad99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":940,"wires":[["b0b7abff.12d8d8","64dd6628.1334f8","6937d4b6.7bd82c"]]},{"id":"8131df90.2c868","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":940,"wires":[]},{"id":"64dd6628.1334f8","type":"change","z":"155156f2.50ad99","name":"get dataIn","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1000,"wires":[["57182366.92b81c"]]},{"id":"57182366.92b81c","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1000,"wires":[]},{"id":"6937d4b6.7bd82c","type":"change","z":"155156f2.50ad99","name":"get oldData","rules":[{"t":"set","p":"payload","pt":"msg","to":"oldData","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1060,"wires":[["bc394504.712268"]]},{"id":"bc394504.712268","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1060,"wires":[]},{"id":"d221700e.8cf4b","type":"comment","z":"155156f2.50ad99","name":"for debug only","info":"","x":150,"y":560,"wires":[]},{"id":"9a0d1622.d7cbb8","type":"mqtt out","z":"155156f2.50ad99","name":"","topic":"data","qos":"","retain":"","broker":"c50b087c.61b8d8","x":670,"y":720,"wires":[]},{"id":"a495617.f8cada","type":"mqtt in","z":"155156f2.50ad99","name":"","topic":"test","qos":"2","datatype":"auto","broker":"c50b087c.61b8d8","x":490,"y":720,"wires":[["9a0d1622.d7cbb8"]]},{"id":"1f21c8a4.2c94f7","type":"change","z":"155156f2.50ad99","name":"delete msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":1180,"wires":[["5bcad9e7.210ff8"]]},{"id":"ee9dd865.3ca798","type":"function","z":"155156f2.50ad99","name":"calc distance form home","func":"var home_data = global.get('home');\nvar lat1 = home_data.lat;\nvar lon1 = home_data.lon;\nvar lat2 = global.get('position.lat');\nvar lon2 = global.get('position.lon');\n\nlat1 = lat1 * Math.PI/180; // lat, lon in radians\nlon1 = lon1 * Math.PI/180;\nlat2 = lat2 * Math.PI/180;\nlon2 = lon2 * Math.PI/180;\n\nconst R = 6371000;\nconst a = Math.cos(lat1)*Math.cos(lat2)*Math.cos(lon1)*Math.cos(lon2);\nconst b = Math.cos(lat1)*Math.sin(lon1)*Math.cos(lat2)*Math.sin(lon2);\nconst c = Math.sin(lat1)*Math.sin(lat2);\nconst d = Math.acos(a+b+c) * R;\n\nmsg.payload = Math.round(d*100)/100;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1470,"y":520,"wires":[["7842171a.042428"]]},{"id":"7842171a.042428","type":"switch","z":"155156f2.50ad99","name":"if out of border","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"home.radius","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":1700,"y":520,"wires":[["9f2c1414.47f418"]]},{"id":"9f2c1414.47f418","type":"change","z":"155156f2.50ad99","name":"warnnig msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"ทุุ่นออกนอกอาณาเขต","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":580,"wires":[["3bf837b9.f09608"]]},{"id":"3bf837b9.f09608","type":"ui_toast","z":"155156f2.50ad99","position":"top right","displayTime":"86400","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"warning","name":"warning border","x":1820,"y":580,"wires":[]},{"id":"937e5419.60dd78","type":"join","z":"155156f2.50ad99","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"20","count":"16","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":371,"y":220,"wires":[["f943a942.c7dbc8","4029aa0a.89c5d4","57604ba9.0ee2b4"]]},{"id":"f943a942.c7dbc8","type":"json","z":"155156f2.50ad99","name":"","property":"payload","action":"","pretty":false,"x":550,"y":140,"wires":[["8a375a9c.0f5138"]]},{"id":"24adccb9.ca9b04","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":320,"wires":[]},{"id":"bda3ee0c.d2383","type":"delay","z":"155156f2.50ad99","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":280,"wires":[["38b609e7.9a53b6","24adccb9.ca9b04"]]},{"id":"a9585e11.ead17","type":"change","z":"155156f2.50ad99","name":"dataIn","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":940,"wires":[["9fd84642.e395e8"]]},{"id":"57604ba9.0ee2b4","type":"function","z":"155156f2.50ad99","name":"count error","func":"var c;\nif (msg.payload.lat === -1 && msg.payload.lon === -1)\n{\n    c = global.get('countGPS_loss');\n    global.set('countGPS_loss', c+1);\n    global.set('GPS_loss', true);\n}\nelse\n{\n    global.set('countGPS_loss', 0);\n    global.set('GPS_loss', false);\n    c = 0;\n}\nmsg.payload = c;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":380,"wires":[["c47f0ba7.627578"]]},{"id":"702a7ae8.5c4dc4","type":"change","z":"155156f2.50ad99","name":"warnnig msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"ไม่สามารถระบุพิกัด GPS","tot":"str"},{"t":"set","p":"GPS_loss","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":380,"wires":[["5b0be20.b18412"]]},{"id":"5b0be20.b18412","type":"ui_toast","z":"155156f2.50ad99","position":"top right","displayTime":"86400","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"warning","name":"warning GPS","x":1160,"y":400,"wires":[]},{"id":"1076e54e.fab76b","type":"mqtt out","z":"155156f2.50ad99","name":"","topic":"test","qos":"","retain":"","broker":"c50b087c.61b8d8","x":530,"y":1180,"wires":[]},{"id":"4c5942b5.30391c","type":"inject","z":"155156f2.50ad99","name":"random data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1180,"wires":[["53944020.23ff8"]]},{"id":"53944020.23ff8","type":"function","z":"155156f2.50ad99","name":"random data","func":"msg.payload = {};\nvar val = parseInt(Math.random() * 10);\n\nif((val % 3) === 0){\n    msg.payload.lat  = 13.8043;\n    msg.payload.lon  = 100.5344;\n}\nelse if ((val % 3) === 1){\n    msg.payload.lat  = 13.7990;\n    msg.payload.lon  = 100.5227;\n}\nelse if ((val % 3) === 2){\n    msg.payload.lat  = 13.8099;\n    msg.payload.lon  = 100.5223;\n}\nmsg.payload.V1 = parseInt(Math.random() * 40);\nmsg.payload.V2 = parseInt(Math.random() * 10);\nmsg.payload.V3 = parseInt(Math.random() * 20);\nmsg.payload.V4 = parseInt(Math.random() * 20);\nmsg.payload.V5 = parseInt(Math.random() * 10);\nmsg.payload.V6 = parseInt(Math.random() * 20);\nmsg.payload.V7 = parseInt(Math.random() * 10);\nmsg.payload.V8 = parseInt(Math.random() * 10);\nmsg.payload.V9 = parseInt(Math.random() * 10);\nmsg.payload.V15 = 0;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1180,"wires":[["1076e54e.fab76b"]]},{"id":"a7cd1680.79f498","type":"mqtt out","z":"155156f2.50ad99","name":"","topic":"test","qos":"","retain":"","broker":"c50b087c.61b8d8","x":530,"y":1240,"wires":[]},{"id":"77ee9dc0.b0de24","type":"inject","z":"155156f2.50ad99","name":"random data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1240,"wires":[["7639e54c.bdd21c"]]},{"id":"7639e54c.bdd21c","type":"function","z":"155156f2.50ad99","name":"random data","func":"msg.payload = {};\nvar val = parseInt(Math.random() * 10);\n\nif((val % 3) === 0){\n    msg.payload.lat  = 13.8043;\n    msg.payload.lon  = 100.5344;\n}\nelse if ((val % 3) === 1){\n    msg.payload.lat  = 13.7990;\n    msg.payload.lon  = 100.5227;\n}\nelse if ((val % 3) === 2){\n    msg.payload.lat  = 13.8099;\n    msg.payload.lon  = 100.5223;\n}\nmsg.payload.V1 = parseInt(Math.random() * 40);\nmsg.payload.V2 = parseInt(Math.random() * 10);\nmsg.payload.V3 = parseInt(Math.random() * 20);\nmsg.payload.V4 = parseInt(Math.random() * 20);\nmsg.payload.V5 = parseInt(Math.random() * 10);\nmsg.payload.V6 = parseInt(Math.random() * 20);\nmsg.payload.V7 = parseInt(Math.random() * 10);\nmsg.payload.V8 = parseInt(Math.random() * 10);\nmsg.payload.V9 = parseInt(Math.random() * 10);\nmsg.payload.V15 = 1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1240,"wires":[["a7cd1680.79f498"]]},{"id":"74b97d81.234e14","type":"inject","z":"155156f2.50ad99","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"countGPS_loss","payloadType":"global","x":240,"y":1340,"wires":[["7c185d31.bc6404"]]},{"id":"7c185d31.bc6404","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":1340,"wires":[]},{"id":"c47f0ba7.627578","type":"switch","z":"155156f2.50ad99","name":"set limit","property":"countGPS_loss","propertyType":"global","rules":[{"t":"gte","v":"5","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":380,"wires":[["702a7ae8.5c4dc4"],["8514ffad.248bf"]]},{"id":"eb5a559a.451c48","type":"inject","z":"155156f2.50ad99","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GPS_loss","payloadType":"global","x":200,"y":1380,"wires":[["5ff7b074.45a53"]]},{"id":"5ff7b074.45a53","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":1380,"wires":[]},{"id":"9fd84642.e395e8","type":"switch","z":"155156f2.50ad99","name":"GPS_loss?","property":"GPS_loss","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":940,"wires":[["a12f046a.96dc68"]]},{"id":"8514ffad.248bf","type":"change","z":"155156f2.50ad99","name":"delete msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"warning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":420,"wires":[["5b0be20.b18412"]]},{"id":"2c0e27dc.4ea6d8","type":"change","z":"155156f2.50ad99","name":"warnnig msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"ไม่สามารถระบุพิกัด GPS","tot":"str"},{"t":"set","p":"GPS_loss","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":460,"wires":[["3ef54c8d.b961c4"]]},{"id":"3ef54c8d.b961c4","type":"ui_toast","z":"155156f2.50ad99","position":"top right","displayTime":"86400","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"warning","name":"warning GPS","x":1630,"y":460,"wires":[]},{"id":"8c370efc.f3b8a","type":"switch","z":"155156f2.50ad99","name":"GPS_loss?","property":"GPS_loss","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":740,"wires":[["efbd6118.59d99","5cbbc251.b3b2dc"]]},{"id":"2732e089.194ae","type":"switch","z":"155156f2.50ad99","name":"set limit","property":"countGPS_loss","propertyType":"global","rules":[{"t":"gte","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1240,"y":460,"wires":[["2c0e27dc.4ea6d8"]]},{"id":"cc2330b0.e89cf","type":"link in","z":"155156f2.50ad99","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":715,"y":1260,"wires":[["abb00f6.56361f"]]},{"id":"abb00f6.56361f","type":"switch","z":"155156f2.50ad99","name":"GPS_loss?","property":"GPS_loss","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":1260,"wires":[["96d6155e.245908"]]},{"id":"96d6155e.245908","type":"change","z":"155156f2.50ad99","name":"save last position","rules":[{"t":"set","p":"position.lat","pt":"global","to":"dataIn.lat","tot":"global"},{"t":"set","p":"position.lon","pt":"global","to":"dataIn.lon","tot":"global"},{"t":"set","p":"position.time","pt":"global","to":"dataIn.time","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1260,"wires":[[]]},{"id":"913f5371.09f1b","type":"switch","z":"155156f2.50ad99","name":"GPS_loss?","property":"GPS_loss","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":520,"wires":[["ee9dd865.3ca798"]]},{"id":"8413b6ba.098088","type":"ui_worldmap","z":"155156f2.50ad99","group":"7ca97527.92b29c","order":1,"width":"12","height":"23","name":"","lat":"13.80570","lon":"100.53171","zoom":"13","layer":"Open Topo Map","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"false","path":"/worldmap","x":1620,"y":660,"wires":[]},{"id":"c50b087c.61b8d8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"98980964.6b0638","type":"ui_group","z":"","name":"Debug message","tab":"fea1bccd.fbf5b","order":1,"disp":true,"width":"38","collapse":false},{"id":"7ca97527.92b29c","type":"ui_group","z":"","name":"Map","tab":"da63f858.eed028","order":1,"disp":true,"width":"12","collapse":false},{"id":"fea1bccd.fbf5b","type":"ui_tab","z":"","name":"Setting","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"da63f858.eed028","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]