Flows/flows(14-12-20).json
[{"id":"c601f663.097a58","type":"tab","label":"UI home","disabled":false,"info":""},{"id":"510ded63.8e3354","type":"change","z":"c601f663.097a58","name":"SRAM (V5)","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V5","tot":"global"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":880,"wires":[["79f6b4b1.f5156c"]]},{"id":"a04ce31d.2aec8","type":"change","z":"c601f663.097a58","name":"Sea temp (V6)","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V6","tot":"global"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":980,"wires":[["845c6122.a2fc4"]]},{"id":"64672b2a.e85484","type":"change","z":"c601f663.097a58","name":"Sea Ph (V7)","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V7","tot":"global"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1040,"wires":[["36fe93e4.ed9dcc"]]},{"id":"79f6b4b1.f5156c","type":"ui_gauge","z":"c601f663.097a58","name":"Available SRAM ","group":"bd7e7101.17f9f","order":3,"width":8,"height":6,"gtype":"gage","title":"Available SRAM [kB]","label":"","format":"{{value}}","min":0,"max":"32000","colors":["#ff0000","#ffff00","#00ff00"],"seg1":"10600","seg2":"21200","x":600,"y":880,"wires":[]},{"id":"478abf12.28129","type":"ui_gauge","z":"c601f663.097a58","name":"Solar Current","group":"6b132875.4e0cf8","order":2,"width":8,"height":6,"gtype":"gage","title":"Current [A]","label":"","format":"{{value}}","min":0,"max":"5","colors":["#ff0000","#ffff00","#00ff00"],"seg1":"1.5","seg2":"3.5","x":590,"y":1540,"wires":[]},{"id":"2870682c.f088d8","type":"ui_gauge","z":"c601f663.097a58","name":"Wave Gen Voltage","group":"47993d6f.eaf2b4","order":1,"width":6,"height":4,"gtype":"gage","title":"Voltage [V]","label":"","format":"{{value}}","min":"0","max":"5","colors":["#00ff00","#e6ff00","#ff0000"],"seg1":"1.5","seg2":"3.5","x":610,"y":1260,"wires":[]},{"id":"cfe96d40.5731a","type":"change","z":"c601f663.097a58","name":"Stroke (V9)","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V9","tot":"global"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1200,"wires":[["22a7eef3.7969b2"]]},{"id":"daf5c528.260e28","type":"change","z":"c601f663.097a58","name":"Wave Voltage (V10)","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V10","tot":"global"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1260,"wires":[["2870682c.f088d8"]]},{"id":"22a7eef3.7969b2","type":"ui_gauge","z":"c601f663.097a58","name":"Stroke amplitude","group":"47993d6f.eaf2b4","order":4,"width":6,"height":4,"gtype":"gage","title":"Stroke amplitude [mm]","label":"","format":"{{value}}","min":0,"max":"500","colors":["#ff0000","#ffff00","#00ff00"],"seg1":"165","seg2":"330","x":610,"y":1200,"wires":[]},{"id":"1c1e9dc9.7d75c2","type":"change","z":"c601f663.097a58","name":"Solar Voltage (V12)","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V12","tot":"global"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1480,"wires":[["a474a58c.58bda8"]]},{"id":"97472554.654b38","type":"ui_gauge","z":"c601f663.097a58","name":"Wave Frequency","group":"6fb85fe.68186a","order":3,"width":8,"height":6,"gtype":"gage","title":"Wave frequancy [Hz]","label":"","format":"{{value}}","min":0,"max":"1.5","colors":["#ff0000","#ffff00","#00ff00"],"seg1":"0.5","seg2":"1","x":610,"y":1100,"wires":[]},{"id":"d6fc3473.51e5c8","type":"change","z":"c601f663.097a58","name":"Box temp (V3)","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V3","tot":"global"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":760,"wires":[["9ec2d5e.1f60728"]]},{"id":"9ec2d5e.1f60728","type":"ui_gauge","z":"c601f663.097a58","name":"Box temp","group":"bd7e7101.17f9f","order":1,"width":8,"height":6,"gtype":"gage","title":"Box temp [C]","label":"","format":"{{value}}","min":0,"max":"40","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"13","seg2":"26","x":580,"y":760,"wires":[]},{"id":"4ff8b27.24ea94c","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":175,"y":760,"wires":[["d6fc3473.51e5c8","510ded63.8e3354","54fd10b1.a7d25"]]},{"id":"f7f3e76.9ff2418","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":175,"y":980,"wires":[["a04ce31d.2aec8","64672b2a.e85484","b8d5c2e.785dc4"]]},{"id":"80db0bef.349348","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6"],"x":175,"y":1200,"wires":[["daf5c528.260e28","329a1a4.61a71e6","cfe96d40.5731a","4086d56b.2dcd5c"]]},{"id":"36625c26.e3e4f4","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":175,"y":1480,"wires":[["1c1e9dc9.7d75c2","1e5c4f9c.42bb7","4ae03cee.4a2e34"]]},{"id":"845c6122.a2fc4","type":"ui_gauge","z":"c601f663.097a58","name":"Temp","group":"6fb85fe.68186a","order":1,"width":8,"height":6,"gtype":"gage","title":"Sea temp [C]","label":"","format":"{{value}}","min":"0","max":"40","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"13","seg2":"26","x":570,"y":980,"wires":[]},{"id":"36fe93e4.ed9dcc","type":"ui_gauge","z":"c601f663.097a58","name":"pH","group":"6fb85fe.68186a","order":2,"width":8,"height":6,"gtype":"gage","title":"pH","label":"","format":"{{value}}","min":"0","max":"14","colors":["#ff0000","#ffffff","#0000ff"],"seg1":"5.5","seg2":"9","x":570,"y":1040,"wires":[]},{"id":"a474a58c.58bda8","type":"ui_gauge","z":"c601f663.097a58","name":"Solar Voltage","group":"6b132875.4e0cf8","order":1,"width":8,"height":6,"gtype":"gage","title":"Voltage [V]","label":"","format":"{{value}}","min":"0","max":"20","colors":["#00ff00","#e6ff00","#ff0000"],"seg1":"7","seg2":"14","x":600,"y":1480,"wires":[]},{"id":"5059e6f2.4071b8","type":"ui_gauge","z":"c601f663.097a58","name":"Voltage","group":"bd7e7101.17f9f","order":2,"width":8,"height":6,"gtype":"gage","title":"Battery voltage [V]","label":"","format":"{{value}}","min":"8","max":"16","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"10","seg2":"14","x":580,"y":820,"wires":[]},{"id":"115f073e.0353d9","type":"ui_gauge","z":"c601f663.097a58","name":"Wave Gen Power","group":"47993d6f.eaf2b4","order":3,"width":6,"height":4,"gtype":"gage","title":"Power [mW]","label":"","format":"{{value}}","min":"0","max":"5000","colors":["#00ff00","#e6ff00","#ff0000"],"seg1":"1500","seg2":"3500","x":610,"y":1380,"wires":[]},{"id":"2a94aa70.6a6a56","type":"ui_gauge","z":"c601f663.097a58","name":"Solar Power","group":"6b132875.4e0cf8","order":3,"width":8,"height":6,"gtype":"gage","title":"Power [W]","label":"","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#ffff00","#00ff00"],"seg1":"35","seg2":"70","x":590,"y":1600,"wires":[]},{"id":"b8d5c2e.785dc4","type":"change","z":"c601f663.097a58","name":"Wave frequency (V8)","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V8","tot":"global"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1100,"wires":[["97472554.654b38"]]},{"id":"329a1a4.61a71e6","type":"change","z":"c601f663.097a58","name":"Wave current (V11)","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V11","tot":"global"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1320,"wires":[["16a46409.f687ec"]]},{"id":"1e5c4f9c.42bb7","type":"change","z":"c601f663.097a58","name":"Solar current (V13)","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V13","tot":"global"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1540,"wires":[["478abf12.28129"]]},{"id":"54fd10b1.a7d25","type":"change","z":"c601f663.097a58","name":"E Voltage (V4)","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V4","tot":"global"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":820,"wires":[["5059e6f2.4071b8"]]},{"id":"16a46409.f687ec","type":"ui_gauge","z":"c601f663.097a58","name":"Wave Gen Current","group":"47993d6f.eaf2b4","order":2,"width":6,"height":4,"gtype":"gage","title":"Current [mA]","label":"","format":"{{value}}","min":"0","max":"1000","colors":["#00ff00","#e6ff00","#ff0000"],"seg1":"350","seg2":"700","x":610,"y":1320,"wires":[]},{"id":"c791d920.d23d58","type":"ui_text","z":"c601f663.097a58","group":"4c6179cb.45d118","order":1,"width":9,"height":1,"name":"","label":"Time last receive : ","format":"{{msg.payload}}","layout":"row-left","x":610,"y":300,"wires":[]},{"id":"f68dcd3c.11902","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6"],"x":175,"y":300,"wires":[["7bff511b.17bb2"]]},{"id":"30f1e1a8.8409ee","type":"ui_text","z":"c601f663.097a58","group":"4c6179cb.45d118","order":2,"width":8,"height":1,"name":"","label":"Logger status : ","format":"{{msg.payload}}","layout":"row-left","x":860,"y":460,"wires":[]},{"id":"2c9d3df4.284272","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6"],"x":175,"y":460,"wires":[["eff15db1.16551"]]},{"id":"ad006a80.e63d38","type":"ui_text","z":"c601f663.097a58","group":"4c6179cb.45d118","order":3,"width":7,"height":1,"name":"","label":"GPS Status : ","format":"{{msg.payload}}","layout":"row-left","x":860,"y":620,"wires":[]},{"id":"29d49ed1.f982f2","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6"],"x":175,"y":640,"wires":[["ada810c7.3162d"]]},{"id":"6a8902d5.2697fc","type":"change","z":"c601f663.097a58","name":"lat","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.lat","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":160,"wires":[["2afd4a4.71d6cb6"]]},{"id":"2afd4a4.71d6cb6","type":"ui_text","z":"c601f663.097a58","group":"7ca97527.92b29c","order":2,"width":0,"height":0,"name":"lat","label":"Latitude :  ","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":160,"wires":[]},{"id":"7db5922b.a92afc","type":"change","z":"c601f663.097a58","name":"lon","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.lon","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":220,"wires":[["1f773ec1.bb1871"]]},{"id":"1f773ec1.bb1871","type":"ui_text","z":"c601f663.097a58","group":"7ca97527.92b29c","order":3,"width":0,"height":0,"name":"lon","label":"Longitude : ","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":220,"wires":[]},{"id":"6a104bdf.ba84e4","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6"],"x":175,"y":160,"wires":[["af710132.e1a3c","7db599d8.866358"]]},{"id":"af710132.e1a3c","type":"switch","z":"c601f663.097a58","name":"GPS loss?","property":"dataIn.lat","propertyType":"global","rules":[{"t":"neq","v":"-1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":160,"wires":[["6a8902d5.2697fc"]]},{"id":"7db599d8.866358","type":"switch","z":"c601f663.097a58","name":"GPS loss?","property":"dataIn.lon","propertyType":"global","rules":[{"t":"neq","v":"-1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":220,"wires":[["7db5922b.a92afc"]]},{"id":"eff15db1.16551","type":"switch","z":"c601f663.097a58","name":"logger status (V1)","property":"dataIn.V1","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"-1","vt":"num"},{"t":"eq","v":"-2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":350,"y":460,"wires":[["ec88263d.78bf78"],["977bffc9.4c145"],["4cf326eb.5bef58"],["5d33ee47.4800a"],["69950c5c.4db554"]]},{"id":"ec88263d.78bf78","type":"change","z":"c601f663.097a58","name":"fine","rules":[{"t":"set","p":"payload","pt":"msg","to":"working fine","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":380,"wires":[["30f1e1a8.8409ee"]]},{"id":"977bffc9.4c145","type":"change","z":"c601f663.097a58","name":"no ack","rules":[{"t":"set","p":"payload","pt":"msg","to":"no ack recieved","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":420,"wires":[["30f1e1a8.8409ee"]]},{"id":"4cf326eb.5bef58","type":"change","z":"c601f663.097a58","name":"card error","rules":[{"t":"set","p":"payload","pt":"msg","to":"SD card error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["30f1e1a8.8409ee"]]},{"id":"5d33ee47.4800a","type":"change","z":"c601f663.097a58","name":"no checksum","rules":[{"t":"set","p":"payload","pt":"msg","to":"No checksum on Nano","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":500,"wires":[["30f1e1a8.8409ee"]]},{"id":"69950c5c.4db554","type":"change","z":"c601f663.097a58","name":"unknown","rules":[{"t":"set","p":"payload","pt":"msg","to":"unknown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":540,"wires":[["30f1e1a8.8409ee"]]},{"id":"ada810c7.3162d","type":"switch","z":"c601f663.097a58","name":"GPS status (V2)","property":"GPS_loss","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":640,"wires":[["96880e3d.b47d6"],["a5756ee5.5143f"]]},{"id":"96880e3d.b47d6","type":"change","z":"c601f663.097a58","name":"fixed","rules":[{"t":"set","p":"payload","pt":"msg","to":"fixed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":620,"wires":[["ad006a80.e63d38"]]},{"id":"a5756ee5.5143f","type":"change","z":"c601f663.097a58","name":"not fixed","rules":[{"t":"set","p":"payload","pt":"msg","to":"not fixed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":660,"wires":[["ad006a80.e63d38"]]},{"id":"7bff511b.17bb2","type":"function","z":"c601f663.097a58","name":"time","func":"var data = global.get('dataIn');\nmsg.payload = data.date + ' ' + data.time;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":300,"wires":[["c791d920.d23d58"]]},{"id":"4086d56b.2dcd5c","type":"change","z":"c601f663.097a58","name":"Wave Power (V14)","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V14","tot":"global"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1380,"wires":[["115f073e.0353d9"]]},{"id":"4ae03cee.4a2e34","type":"change","z":"c601f663.097a58","name":"Solar Power (V15)","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V15","tot":"global"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1600,"wires":[["2a94aa70.6a6a56"]]},{"id":"bd7e7101.17f9f","type":"ui_group","z":"","name":"Electronics","tab":"da63f858.eed028","order":3,"disp":true,"width":"24","collapse":false},{"id":"6b132875.4e0cf8","type":"ui_group","z":"","name":"Solar energy","tab":"da63f858.eed028","order":5,"disp":true,"width":"24","collapse":false},{"id":"47993d6f.eaf2b4","type":"ui_group","z":"","name":"Wave energy","tab":"da63f858.eed028","order":6,"disp":true,"width":"24","collapse":false},{"id":"6fb85fe.68186a","type":"ui_group","z":"","name":"Environment","tab":"da63f858.eed028","order":4,"disp":true,"width":"24","collapse":false},{"id":"4c6179cb.45d118","type":"ui_group","z":"","name":"System status","tab":"da63f858.eed028","order":2,"disp":true,"width":"24","collapse":false},{"id":"7ca97527.92b29c","type":"ui_group","z":"","name":"Map","tab":"da63f858.eed028","order":1,"disp":true,"width":12,"collapse":false},{"id":"da63f858.eed028","type":"ui_tab","z":"","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false}]