Flows/flows(14-10-20).json
[{"id":"155156f2.50ad99","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8413b6ba.098088","type":"ui_worldmap","z":"155156f2.50ad99","group":"7ca97527.92b29c","order":1,"width":0,"height":0,"name":"","lat":"13.80570","lon":"100.53171","zoom":"15","layer":"","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"false","path":"/worldmap","x":1200,"y":260,"wires":[]},{"id":"844f6409.9a0a08","type":"mqtt out","z":"155156f2.50ad99","name":"","topic":"sensor","qos":"","retain":"","broker":"c50b087c.61b8d8","x":830,"y":1020,"wires":[]},{"id":"adc4f75b.8286c8","type":"inject","z":"155156f2.50ad99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":1020,"wires":[["bd297f29.88c7a"]]},{"id":"bd297f29.88c7a","type":"function","z":"155156f2.50ad99","name":"","func":"msg.payload = {};\nvar val = parseInt(Math.random() * 10);\n/*\nif((val % 5) == 0){\n    msg.payload.name = \"สัตหีบ\";\n    msg.payload.lat  = 12.611;\n    msg.payload.lon  = 100.889;\n}\nelse if ((val % 5) == 1){\n    msg.payload.name = \"มาบตาพุด\";\n    msg.payload.lat  = 12.646;\n    msg.payload.lon  = 101.171;\n}\nelse if ((val % 5) == 2){\n    msg.payload.name = \"เชียงใหม่\";\n    msg.payload.lat  = 18.787;\n    msg.payload.lon  = 98.996;\n}\nelse if ((val % 5) == 3){\n    msg.payload.name = \"น่าน\";\n    msg.payload.lat  = 18.775;\n    msg.payload.lon  = 100.772;\n}\nelse{\n    msg.payload.name = \"เกาะเกร็ด\";\n    msg.payload.lat  = 13.91;\n    msg.payload.lon  = 100.472;\n}*/\nmsg.payload.val1 = parseInt(Math.random() * 1000);\nmsg.payload.val2 = parseInt(Math.random() * 1000);\nmsg.payload.val3 = parseInt(Math.random() * 1000);\nmsg.payload.val4 = parseInt(Math.random() * 1000);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1020,"wires":[["844f6409.9a0a08"]]},{"id":"30f83840.fa7898","type":"mqtt in","z":"155156f2.50ad99","name":"","topic":"sensor","qos":"2","datatype":"auto","broker":"c50b087c.61b8d8","x":270,"y":480,"wires":[["c9150ea8.1663d","c968948.a3b8b68","8a375a9c.0f5138"]]},{"id":"a346510.c0949b","type":"debug","z":"155156f2.50ad99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":560,"wires":[]},{"id":"62e71ab0.f3ce14","type":"ui_gauge","z":"155156f2.50ad99","name":"val1","group":"47993d6f.eaf2b4","order":1,"width":0,"height":0,"gtype":"gage","title":"value1","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"600","x":1190,"y":740,"wires":[]},{"id":"f81de521.a53fe8","type":"change","z":"155156f2.50ad99","name":"val1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":740,"wires":[["62e71ab0.f3ce14"]]},{"id":"c9150ea8.1663d","type":"json","z":"155156f2.50ad99","name":"","property":"payload","action":"","pretty":false,"x":670,"y":480,"wires":[["a346510.c0949b","f81de521.a53fe8","bced88e8.d06f68","93c6f6da.23a9a8","cf7375bd.c4eaf8","8413b6ba.098088","150e9eb0.efc391","27594395.47928c","5cbbc251.b3b2dc","a12f046a.96dc68"]]},{"id":"1be4c62.6bc053a","type":"ui_gauge","z":"155156f2.50ad99","name":"val2","group":"47993d6f.eaf2b4","order":1,"width":0,"height":0,"gtype":"gage","title":"value2","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"600","x":1190,"y":800,"wires":[]},{"id":"bced88e8.d06f68","type":"change","z":"155156f2.50ad99","name":"val2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":800,"wires":[["1be4c62.6bc053a"]]},{"id":"43f0b9fe.025728","type":"ui_gauge","z":"155156f2.50ad99","name":"val3","group":"47993d6f.eaf2b4","order":1,"width":0,"height":0,"gtype":"gage","title":"value3","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"600","x":1190,"y":860,"wires":[]},{"id":"93c6f6da.23a9a8","type":"change","z":"155156f2.50ad99","name":"val3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":860,"wires":[["43f0b9fe.025728"]]},{"id":"827fa4a5.1087c8","type":"ui_gauge","z":"155156f2.50ad99","name":"val4","group":"47993d6f.eaf2b4","order":1,"width":0,"height":0,"gtype":"gage","title":"value4","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"600","x":1190,"y":920,"wires":[]},{"id":"cf7375bd.c4eaf8","type":"change","z":"155156f2.50ad99","name":"val4","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":920,"wires":[["827fa4a5.1087c8"]]},{"id":"150e9eb0.efc391","type":"change","z":"155156f2.50ad99","name":"lat","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":620,"wires":[["f860de44.425"]]},{"id":"f860de44.425","type":"ui_text","z":"155156f2.50ad99","group":"7ca97527.92b29c","order":1,"width":0,"height":0,"name":"lat","label":"lat : ","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":620,"wires":[]},{"id":"27594395.47928c","type":"change","z":"155156f2.50ad99","name":"lon","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":680,"wires":[["a61b26f2.9f8e38"]]},{"id":"a61b26f2.9f8e38","type":"ui_text","z":"155156f2.50ad99","group":"7ca97527.92b29c","order":1,"width":0,"height":0,"name":"lon","label":"lon : ","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":680,"wires":[]},{"id":"61e0dbc1.e41b74","type":"mqtt in","z":"155156f2.50ad99","name":"","topic":"test","qos":"2","datatype":"auto","broker":"c50b087c.61b8d8","x":270,"y":560,"wires":[["8a375a9c.0f5138","c9150ea8.1663d","b6800640.a97628","c968948.a3b8b68"]]},{"id":"8a375a9c.0f5138","type":"ui_text","z":"155156f2.50ad99","group":"7ca97527.92b29c","order":4,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":560,"wires":[]},{"id":"c3715b24.ef2de8","type":"file in","z":"155156f2.50ad99","name":"lastData","filename":"/home/rednode/data/lastData.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":240,"wires":[["cd53d31a.3f634"]]},{"id":"cd53d31a.3f634","type":"csv","z":"155156f2.50ad99","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":590,"y":240,"wires":[["3322267a.ce309a","39b8c1bb.404b9e"]]},{"id":"3322267a.ce309a","type":"change","z":"155156f2.50ad99","name":"set last position","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"last position","tot":"str"},{"t":"set","p":"payload.lat","pt":"msg","to":"msg.payload.col2","tot":"jsonata"},{"t":"set","p":"payload.lon","pt":"msg","to":"msg.payload.col3","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":280,"wires":[["8413b6ba.098088"]]},{"id":"4711e973.79b458","type":"worldmap in","z":"155156f2.50ad99","name":"","path":"/worldmap","events":"all","x":80,"y":180,"wires":[["735b9537.2b6dfc"]]},{"id":"5cbbc251.b3b2dc","type":"change","z":"155156f2.50ad99","name":"delete last position","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"last position","tot":"str"},{"t":"set","p":"payload.deleted","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":360,"wires":[["8413b6ba.098088"]]},{"id":"291d567c.8abc9a","type":"mqtt out","z":"155156f2.50ad99","name":"","topic":"check","qos":"2","retain":"","broker":"c50b087c.61b8d8","x":610,"y":780,"wires":[]},{"id":"735b9537.2b6dfc","type":"switch","z":"155156f2.50ad99","name":"is new client","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":180,"wires":[["c3715b24.ef2de8","97de24df.462538"]]},{"id":"97de24df.462538","type":"file in","z":"155156f2.50ad99","name":"homesetting","filename":"/home/rednode/data/homeSetting.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":140,"wires":[["69627f8e.a0392"]]},{"id":"39b8c1bb.404b9e","type":"debug","z":"155156f2.50ad99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":200,"wires":[]},{"id":"69627f8e.a0392","type":"json","z":"155156f2.50ad99","name":"","property":"payload","action":"","pretty":false,"x":590,"y":140,"wires":[["39b8c1bb.404b9e","8413b6ba.098088"]]},{"id":"14d50689.0a4c89","type":"function","z":"155156f2.50ad99","name":"","func":"msg.payload = {};\nmsg.payload.name = \"location1\";\nmsg.payload.lat  = 13.8043;\nmsg.payload.lon  = 100.5344;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1100,"wires":[["844f6409.9a0a08"]]},{"id":"67068c35.fc9144","type":"function","z":"155156f2.50ad99","name":"","func":"msg.payload = {};\nmsg.payload.name = \"location2\";\nmsg.payload.lat  = 13.7990;\nmsg.payload.lon  = 100.5227;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1180,"wires":[["844f6409.9a0a08"]]},{"id":"29efeab5.4ec406","type":"function","z":"155156f2.50ad99","name":"","func":"msg.payload = {};\nmsg.payload.name = \"location3\";\nmsg.payload.lat  = 13.8099;\nmsg.payload.lon  = 100.5223;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1260,"wires":[["844f6409.9a0a08"]]},{"id":"e835114d.d06c5","type":"inject","z":"155156f2.50ad99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":1100,"wires":[["14d50689.0a4c89"]]},{"id":"37eb3bed.2b5644","type":"inject","z":"155156f2.50ad99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":1180,"wires":[["67068c35.fc9144"]]},{"id":"98a5c28f.5e69d","type":"inject","z":"155156f2.50ad99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":1260,"wires":[["29efeab5.4ec406"]]},{"id":"c968948.a3b8b68","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":380,"wires":[]},{"id":"a12f046a.96dc68","type":"function","z":"155156f2.50ad99","name":"","func":"var home_data = global.get('home');\nvar lat1 = home_data.lat;\nvar lon1 = home_data.lon;\nvar lat2 = msg.payload.lat;\nvar lon2 = msg.payload.lon;\n\nlat1 = lat1 * Math.PI/180; // lat, lon in radians\nlon1 = lon1 * Math.PI/180;\nlat2 = lat2 * Math.PI/180;\nlon2 = lon2 * Math.PI/180;\n\nconst R = 6371000;\nconst a = Math.cos(lat1)*Math.cos(lat2)*Math.cos(lon1)*Math.cos(lon2);\nconst b = Math.cos(lat1)*Math.sin(lon1)*Math.cos(lat2)*Math.sin(lon2);\nconst c = Math.sin(lat1)*Math.sin(lat2);\nconst d = Math.acos(a+b+c) * R;\n\nmsg.payload = Math.round(d*100)/100;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":480,"wires":[["2c806f03.46e94","7056c126.a04f6"]]},{"id":"2c806f03.46e94","type":"ui_text","z":"155156f2.50ad99","group":"7ca97527.92b29c","order":4,"width":0,"height":0,"name":"distance","label":"distance[m]","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":500,"wires":[]},{"id":"89013c09.d3223","type":"function","z":"155156f2.50ad99","name":"set e-mail","func":"msg = {\n    topic : \"Warning!!!\",\n    payload : \"ทุ่นของคุณกำลังออกนอกอาณาเขตการปกครอง รัศมี \"\n            + global.get('home').radius + \" เมตร\\n\"\n            + \"ตำแหน่งล่าสุดคือ\"\n            + \"  lat : \" + global.get('pos').lat\n            + \"  lon : \" + global.get('pos').lon + \"\\n\"\n            + \"ห่างจากจุดติดตั้งเป็นระยะทาง \"\n            + msg.payload + \" เมตร\\n\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":360,"wires":[["1f637976.a58db7","fc3d9ad4.c2eb98"]]},{"id":"1f637976.a58db7","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","x":1540,"y":280,"wires":[]},{"id":"fc3d9ad4.c2eb98","type":"e-mail","z":"155156f2.50ad99","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"GreenBouy.IoT@gmail.com","dname":"","x":1600,"y":360,"wires":[]},{"id":"7056c126.a04f6","type":"switch","z":"155156f2.50ad99","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"home.radius","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":1160,"y":440,"wires":[["d1e0b4bb.457208","89013c09.d3223"]]},{"id":"d1e0b4bb.457208","type":"debug","z":"155156f2.50ad99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":440,"wires":[]},{"id":"b6800640.a97628","type":"switch","z":"155156f2.50ad99","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":680,"wires":[["97ece023.9777d"]]},{"id":"97ece023.9777d","type":"delay","z":"155156f2.50ad99","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":680,"wires":[["291d567c.8abc9a"]]},{"id":"7ca97527.92b29c","type":"ui_group","z":"","name":"map","tab":"da63f858.eed028","order":3,"disp":true,"width":"10","collapse":false},{"id":"c50b087c.61b8d8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"47993d6f.eaf2b4","type":"ui_group","z":"","name":"Sensor Value","tab":"da63f858.eed028","order":2,"disp":true,"width":"6","collapse":false},{"id":"da63f858.eed028","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":4,"disabled":false,"hidden":false}]