Flows/flows(01-11-20).json
[{"id":"c601f663.097a58","type":"tab","label":"UI home","disabled":false,"info":""},{"id":"8c43a679.b1e008","type":"ui_gauge","z":"c601f663.097a58","name":"GPS Setup time","group":"bd7e7101.17f9f","order":1,"width":0,"height":0,"gtype":"gage","title":"GPS Setup time","label":"Sec","format":"{{value}}","min":0,"max":"360","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"100","seg2":"200","x":600,"y":540,"wires":[]},{"id":"3baa6c1b.422154","type":"change","z":"c601f663.097a58","name":"V3","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V3","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":540,"wires":[["8c43a679.b1e008","3d2d9a72.1983e6"]]},{"id":"8a3dce7c.1e81f","type":"change","z":"c601f663.097a58","name":"lat","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.lat","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["4249b6c.629f248"]]},{"id":"4249b6c.629f248","type":"ui_text","z":"c601f663.097a58","group":"7ca97527.92b29c","order":2,"width":0,"height":0,"name":"lat","label":"lat : ","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":180,"wires":[]},{"id":"9f46b823.200db8","type":"change","z":"c601f663.097a58","name":"lon","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.lon","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":240,"wires":[["7f2485c9.0eb19c"]]},{"id":"7f2485c9.0eb19c","type":"ui_text","z":"c601f663.097a58","group":"7ca97527.92b29c","order":3,"width":0,"height":0,"name":"lon","label":"lon : ","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":240,"wires":[]},{"id":"510ded63.8e3354","type":"change","z":"c601f663.097a58","name":"V4","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V4","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":180,"wires":[["79f6b4b1.f5156c","887d71bd.c99a5"]]},{"id":"a04ce31d.2aec8","type":"change","z":"c601f663.097a58","name":"V5","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V5","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":280,"wires":[["478abf12.28129","3b69c353.c5552c"]]},{"id":"64672b2a.e85484","type":"change","z":"c601f663.097a58","name":"V6","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V6","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":380,"wires":[["2870682c.f088d8","22aadd24.59c1b2"]]},{"id":"978a80a7.aacab","type":"ui_text","z":"c601f663.097a58","group":"98980964.6b0638","order":1,"width":0,"height":0,"name":"","label":"time","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":80,"wires":[]},{"id":"b6cba28a.9616","type":"change","z":"c601f663.097a58","name":"time","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.time","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":80,"wires":[["978a80a7.aacab"]]},{"id":"79f6b4b1.f5156c","type":"ui_gauge","z":"c601f663.097a58","name":"Solar Voltage","group":"47993d6f.eaf2b4","order":2,"width":0,"height":0,"gtype":"gage","title":"แรงดันจากพลังงานแสงอาทิตย์","label":"V","format":"{{value}}","min":0,"max":"20","colors":["#ff4d4d","#e6e600","#74ff29"],"seg1":"7","seg2":"10","x":1200,"y":180,"wires":[]},{"id":"478abf12.28129","type":"ui_gauge","z":"c601f663.097a58","name":"Solar Current","group":"47993d6f.eaf2b4","order":3,"width":0,"height":0,"gtype":"gage","title":"กระแสจากพลังงานแสงอาทิตย์","label":"A","format":"{{value}}","min":0,"max":"10","colors":["#ff4d4d","#e6e600","#74ff29"],"seg1":"1","seg2":"5","x":1200,"y":280,"wires":[]},{"id":"2870682c.f088d8","type":"ui_gauge","z":"c601f663.097a58","name":"Wave Gen Voltage","group":"6fb85fe.68186a","order":3,"width":0,"height":0,"gtype":"gage","title":"แรงดันจากพลังงานคลื่น","label":"V","format":"{{value}}","min":0,"max":"20","colors":["#ff4d4d","#e6e600","#74ff29"],"seg1":"7","seg2":"10","x":1210,"y":380,"wires":[]},{"id":"cfe96d40.5731a","type":"change","z":"c601f663.097a58","name":"V7","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V7","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":480,"wires":[["811c0ecd.89d4a","3489065b.5fa07a"]]},{"id":"811c0ecd.89d4a","type":"ui_gauge","z":"c601f663.097a58","name":"Wave Gen Current","group":"6fb85fe.68186a","order":4,"width":0,"height":0,"gtype":"gage","title":"กระแสจากพลังงานคลื่น","label":"A","format":"{{value}}","min":0,"max":"10","colors":["#ff4d4d","#e6e600","#74ff29"],"seg1":"1","seg2":"10","x":1210,"y":480,"wires":[]},{"id":"daf5c528.260e28","type":"change","z":"c601f663.097a58","name":"V8","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V8","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":620,"wires":[["22a7eef3.7969b2","a0784b6d.16bdc8"]]},{"id":"22a7eef3.7969b2","type":"ui_gauge","z":"c601f663.097a58","name":"Wave mass Amplitude","group":"6fb85fe.68186a","order":1,"width":0,"height":0,"gtype":"gage","title":"ระยะกระจัดของระบบมวลสร้างพลังงาน","label":"cm","format":"{{value}}","min":0,"max":"100","colors":["#ff4d4d","#e6e600","#74ff29"],"seg1":"30","seg2":"70","x":1220,"y":620,"wires":[]},{"id":"1c1e9dc9.7d75c2","type":"change","z":"c601f663.097a58","name":"V9","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V9","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":720,"wires":[["97472554.654b38","a39dd86f.362038"]]},{"id":"97472554.654b38","type":"ui_gauge","z":"c601f663.097a58","name":"Wave Frequency","group":"6fb85fe.68186a","order":2,"width":0,"height":0,"gtype":"gage","title":"ความถี่คลื่นทะเล","label":"Hz","format":"{{value}}","min":0,"max":"10","colors":["#ff4d4d","#e6e600","#74ff29"],"seg1":"3","seg2":"6","x":1210,"y":720,"wires":[]},{"id":"9eecde2b.cb599","type":"change","z":"c601f663.097a58","name":"V1","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":340,"wires":[["7184ecf0.eca204","4c40f5f6.a7b1dc"]]},{"id":"7184ecf0.eca204","type":"ui_gauge","z":"c601f663.097a58","name":"SRAM Available ","group":"bd7e7101.17f9f","order":1,"width":0,"height":0,"gtype":"gage","title":"SRAM Available ","label":"KB","format":"{{value}}","min":0,"max":"32768","colors":["#ff0000","#ffff00","#00ff00"],"seg1":"10000","seg2":"20000","x":600,"y":340,"wires":[]},{"id":"d6fc3473.51e5c8","type":"change","z":"c601f663.097a58","name":"V2","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.V2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":440,"wires":[["9ec2d5e.1f60728","1a94a4c2.51cb7b"]]},{"id":"9ec2d5e.1f60728","type":"ui_gauge","z":"c601f663.097a58","name":"Working time","group":"bd7e7101.17f9f","order":2,"width":0,"height":0,"gtype":"gage","title":"Working time","label":"Min","format":"{{value}}","min":0,"max":"43200","colors":["#00ff1e","#ffff00","#ff0000"],"seg1":"14000","seg2":"28000","x":590,"y":440,"wires":[]},{"id":"7b21cd48.e85604","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":195,"y":80,"wires":[["b6cba28a.9616"]]},{"id":"60e0a624.fa1de8","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":195,"y":180,"wires":[["8a3dce7c.1e81f"]]},{"id":"f70b93d9.9edf","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":195,"y":240,"wires":[["9f46b823.200db8"]]},{"id":"4ff8b27.24ea94c","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":195,"y":340,"wires":[["9eecde2b.cb599"]]},{"id":"7afd5112.9762d","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":195,"y":440,"wires":[["d6fc3473.51e5c8"]]},{"id":"68c80f2.163f2f","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":195,"y":540,"wires":[["3baa6c1b.422154"]]},{"id":"33241c9f.78c264","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":795,"y":180,"wires":[["510ded63.8e3354"]]},{"id":"f7f3e76.9ff2418","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":795,"y":280,"wires":[["a04ce31d.2aec8"]]},{"id":"d235e1dd.0b845","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":795,"y":380,"wires":[["64672b2a.e85484"]]},{"id":"a5b466f2.57fb28","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":795,"y":480,"wires":[["cfe96d40.5731a"]]},{"id":"80db0bef.349348","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":795,"y":620,"wires":[["daf5c528.260e28"]]},{"id":"36625c26.e3e4f4","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":795,"y":720,"wires":[["1c1e9dc9.7d75c2"]]},{"id":"4c40f5f6.a7b1dc","type":"ui_chart","z":"c601f663.097a58","name":"SRAM Available ","group":"dfa75078.d68b5","order":1,"width":0,"height":0,"label":"SRAM Available ","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":380,"wires":[[]]},{"id":"1a94a4c2.51cb7b","type":"ui_chart","z":"c601f663.097a58","name":"Working time","group":"dfa75078.d68b5","order":2,"width":0,"height":0,"label":"Working time","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":480,"wires":[[]]},{"id":"887d71bd.c99a5","type":"ui_chart","z":"c601f663.097a58","name":"Solar Voltage","group":"dfa75078.d68b5","order":4,"width":0,"height":0,"label":"แรงดันจากพลังงานแสงอาทิตย์","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":220,"wires":[[]]},{"id":"3b69c353.c5552c","type":"ui_chart","z":"c601f663.097a58","name":"Solar Current","group":"dfa75078.d68b5","order":5,"width":0,"height":0,"label":"กระแสจากพลังงานแสงอาทิตย์","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":320,"wires":[[]]},{"id":"22aadd24.59c1b2","type":"ui_chart","z":"c601f663.097a58","name":"Wave Gen Voltage","group":"dfa75078.d68b5","order":6,"width":0,"height":0,"label":"แรงดันจากพลังงานคลื่น","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":420,"wires":[[]]},{"id":"3489065b.5fa07a","type":"ui_chart","z":"c601f663.097a58","name":"Wave Gen Current","group":"dfa75078.d68b5","order":7,"width":0,"height":0,"label":"กระแสจากพลังงานคลื่น","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":520,"wires":[[]]},{"id":"a0784b6d.16bdc8","type":"ui_chart","z":"c601f663.097a58","name":"Wave mass Amplitude","group":"dfa75078.d68b5","order":8,"width":0,"height":0,"label":"ระยะกระจัดของระบบมวลสร้างพลังงาน","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1220,"y":660,"wires":[[]]},{"id":"a39dd86f.362038","type":"ui_chart","z":"c601f663.097a58","name":"Wave Frequency","group":"dfa75078.d68b5","order":9,"width":0,"height":0,"label":"ความถี่คลื่นทะเล","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":760,"wires":[[]]},{"id":"3d2d9a72.1983e6","type":"ui_chart","z":"c601f663.097a58","name":"GPS Setup time","group":"dfa75078.d68b5","order":3,"width":0,"height":0,"label":"GPS Setup time","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":580,"wires":[[]]},{"id":"bd7e7101.17f9f","type":"ui_group","z":"","name":"Arduino NANO 33 IoT","tab":"da63f858.eed028","order":3,"disp":true,"width":"6","collapse":false},{"id":"7ca97527.92b29c","type":"ui_group","z":"","name":"map","tab":"da63f858.eed028","order":2,"disp":true,"width":"11","collapse":false},{"id":"98980964.6b0638","type":"ui_group","z":"","name":"Last data","tab":"da63f858.eed028","order":1,"disp":true,"width":"30","collapse":false},{"id":"47993d6f.eaf2b4","type":"ui_group","z":"","name":"Electric Energy","tab":"da63f858.eed028","order":5,"disp":true,"width":"6","collapse":false},{"id":"6fb85fe.68186a","type":"ui_group","z":"","name":"Wave Energy","tab":"da63f858.eed028","order":4,"disp":true,"width":"6","collapse":false},{"id":"dfa75078.d68b5","type":"ui_group","z":"","name":"Chart","tab":"da63f858.eed028","order":6,"disp":true,"width":"24","collapse":false},{"id":"da63f858.eed028","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":4,"disabled":false,"hidden":false}]